body {
background: #f5f5f5;
font-family: Arial;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}


.login-box {
padding: 20px;
background: white;
border-radius: 10px;
box-shadow: 0 0 10px #aaa;
}